<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>BAZAAR | LOGIN | SIGNUP</title>
    <link rel="shortcut icon" href="https://static.wixstatic.com/media/f6865b_73c4d575c50e4dcab4b1f777eb008416~mv2.jpg/v1/crop/x_62,y_0,w_537,h_516/fill/w_55,h_49,al_c,q_80,usm_0.66_1.00_0.01/photo.webp">
    

    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Login & Signup Form | CodingNepal</title> -->
    {% load static %}
    <link rel="stylesheet" href='{% static "bazaar/css/loginsignup.css"%}'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .loading__img {
            height: 30%;
            border-radius: 100px;
    
        }
    
        #loading {
            position: fixed;
            z-index: 9999;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background: #191919;
    
        }
    </style>

</head>

<body >
    <div id="loading">
        <img src='{% static "bazaar/img/donaldduckmoney.gif" %}' class="loading__img" alt="">
    </div>
    
    <script>
        var preLoader = document.getElementById("loading");
        setTimeout(() => {
            preLoader.style.display = "none";
        }, 3500)
        preLoader.style.display = "flex";
    </script>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                Login Form</div>
            <div class="title signup">
                Signup Form</div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked>
                <input type="radio" name="slide" id="signup">
                <label for="login" class="slide login">Login</label>
                <label for="signup" class="slide signup">Signup</label>
                <div class="slider-tab">
                </div>
            </div>
            <div class="form-inner">
                <form action="/bazaar/loginuser/" method="POST" class="login" autocomplete="off">
                    {% csrf_token %}
                    <div class="field">
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    
                    <div class="field btn">
                        <div class="btn-layer">
                        </div>
                        <input type="submit" value="Login">
                    </div>
                    
                </form>
                <form action="/bazaar/signup/" method="POST" class="signup" autocomplete="off">
                    {% csrf_token %}
                    <div class="field">
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer">
                        </div>
                        <input type="submit" value="SignUp">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        const loginText = document.querySelector(".title-text .login");
        const loginForm = document.querySelector("form.login");
        const loginBtn = document.querySelector("label.login");
        const signupBtn = document.querySelector("label.signup");
        const signupLink = document.querySelector("form .signup-link a");
        signupBtn.onclick = (() => {
            loginForm.style.marginLeft = "-50%";
            loginText.style.marginLeft = "-50%";
        });
        loginBtn.onclick = (() => {
            loginForm.style.marginLeft = "0%";
            loginText.style.marginLeft = "0%";
        });
        
    </script>

</body>

</html>